{% extends 'home/homebase.html' %}
{% load static %}
{% load home_tags %}

{% block title %} {{ item.title }} - Встречи {% endblock %}
{% block header %} {% include 'home/header.html' %} {% endblock %}
{% block content %}
<section class="bg_common">
    <div class="container">
        <h1 class="my-3">О нас</h1>
        <p>Добро пожаловать в нашу библиотеку! Мы рады предложить вам бесплатный доступ к миру знаний и вдохновения. Наша миссия - сделать чтение доступным для всех, независимо от возраста, профессии или места жительства.</p>

        <h2 class="my-3">Наша коллекция</h2>
        <p>Наша библиотека предлагает широкий выбор книг различных жанров, от классической литературы до современных бестселлеров. Мы постоянно обновляем нашу коллекцию, чтобы удовлетворить ваши литературные потребности.</p>

        <h2 class="my-3">Бесплатный доступ</h2>
        <p>Все книги в нашей библиотеке доступны для бесплатного чтения. Мы верим в свободный доступ к знаниям и стремимся сделать чтение доступным для всех.</p>

        <h2 class="my-3">Сообщество</h2>
        <p>Мы не просто библиотека. Мы - сообщество любителей чтения. У нас есть функция комментариев, которая позволяет нашим читателям обмениваться мнениями о книгах, обсуждать идеи и вдохновлять друг друга.</p>

        <h2 class="my-3">Присоединяйтесь к нам</h2>
        <p>Мы приглашаем вас присоединиться к нашему сообществу. Начните свое путешествие в мир литературы сегодня, и откройте для себя новые горизонты знаний и вдохновения.</p>

        <p>Спасибо, что выбрали нас! Мы надеемся, что вы найдете здесь то, что ищете, и станете частью нашего растущего сообщества любителей чтения.</p>
    </div>
</section>
{% endblock %}
{% block footer %} {% include 'home/footer.html' %} {% endblock %}

