{% load static %}
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <img id="bg-video"
           src="{% static 'home/images/backimg.jpg' %}"
      />

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
                  <h2>Добро пожаловать!</h2>
                  <p>{{ item.about_us |safe }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
          <!-- Owl courusel -->
      <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="owl-service-item owl-carousel">
                {% for rs in meetings_slider %}
                <div class="item">
                  <div class="icon">
                    <img src="{% static 'home/images/service-icon-02.png' %}" alt="">
                  </div>
                  <div class="down-content" style="height: 150px;">
                    <h4>{{ rs.title }}</h4>
                    <p>{{ rs.details }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--End owl courusel-->
  </section>
  <!-- ***** Main Banner Area End ***** -->
