 <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          BUKVA
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          {% for names in menu_name %}
                          <li><a href="{% url names.url_name  %}">{{ names.name }}</a></li>
                          {% endfor %}
                          {% if request.user.is_authenticated %}
                          <li class="last"><a href="{% url 'logout' %}"> Выйти</a></li>
                          {% else %}
                          <li class="last"><a href="{% url 'login' %}">Войти</a></li>
                          {% endif %}
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
