{% extends 'home/homebase.html' %}
{% load static %}


{% block title %} {{ item.title }} - Поддержать проект {% endblock %}
{% block header %} {% include 'home/header.html' %} {% endblock %}
{% block content %}
<section class="bg_common">
    <div class="container">
        <h2 class="my-3">Поддержать проект</h2>
        <p>Наша библиотека предоставляет бесплатный доступ к миру знаний и вдохновения. Но чтобы продолжать нашу работу, мы нуждаемся в вашей поддержке. Вот несколько способов, как вы можете помочь:</p>
        <ul class="my-3">
            <li>USDT: TYLDEN3rtewp1TCC6V2Mid9nPmg8gxdxcG</li>
            <li>VISA: 4177490173059462</li>
            <li>МИР: 2202205347768324</li>
        </ul>
        <p>Если же вы хотети отправить ваши средства на пожертвование нуждающимся, то оставьте пометку "Пожертвование нуждающимся"</p>
        <h3 class="my-3">Финансовая поддержка</h3>
        <p>Ваше пожертвование поможет нам платить за сервера, обновлять и расширять нашу коллекцию, поддерживать работу сайта и предоставлять качественные услуги нашим читателям.</p>

        <h3 class="my-3">Поддержка книгами</h3>
        <p>Если у вас есть книги, которые вы хотели бы видеть на нашем сайте и поделиться ею с другими, вы можете <a href="{% url 'contacts' %}">написать нам</a>. </p>

        <h3 class="my-3">Волонтерство</h3>
        <p>Если вы хотите активно участвовать в жизни нашей библиотеки, вы можете стать волонтером. Так же <a href="{% url 'contacts' %}">напишите нам</a> и мы постараемся как можно быстрее вам ответить.</p>

        <p>Спасибо за вашу поддержку! Вместе мы можем сделать чтение доступным для всех!</p>
    </div>
</section>
{% endblock %}
{% block footer %} {% include 'home/footer.html' %} {% endblock %}
