{% extends 'user/userbase.html' %}

{% load static %}
{% block title %} {{ item.title }} - Регистрация {% endblock %}
{% block header %} {% include 'home/header.html' %} {% endblock %}


{% block content %}
<section class="register bg_common">
    <div class="d-flex align-items-center py-4 justify-content-center">
        <main>
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-white">Регистрация</h1>
            <div class="form-error text-white">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="form-floating">
              {{ f}}
              <label class="text-black-50" for="{{ f.id_for_label }}">{{ f.label }}</label>
            </div>
            <div class="form-error text-white"> {{ f.errors }}</div>
            {% endfor %}
            <button class="btn btn-primary w-100 py-2 my-3" type="submit">Зарегистрироваться</button>
        </form>
        <h6 class="text-white">Уже есть аккаунт?<a href="{% url 'login' %}">Войти</a></h6>
    </main>
</section>

{% endblock %}

{% block footer %} {% include 'home/footer.html' %} {% endblock %}
